// Import if Google font is available

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

// .speaking {
//   animation: flash linear 1s infinite;
//   -webkit-animation: flash linear .5s infinite;
//   box-shadow: none;
// }
//
// @-webkit-keyframes flash {
// 	0% { opacity: 1; background-color: $poke-blue-speaking; }
// 	50% { opacity: .1; }
// 	100% { opacity: 1; background-color: $poke-blue-speaking; }
// }
//
// @keyframes flash {
// 	0% { opacity: 1; background-color: $poke-blue-speaking; }
// 	50% { opacity: .1; }
// 	100% { opacity: 1; background-color: $poke-blue-speaking; }
// }
