.wrapper {
    display: grid;
    grid-template: 1fr auto 1fr / 1fr;
    grid-template-areas:
        "pokeWrapper1"
        "pokeHinge"
        "pokeWrapper2"
    ;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 30rem;
    @include media("medium") {
        grid-template: 1fr / 1fr auto 1fr;
        grid-template-areas:
            "pokeWrapper1 pokeHinge pokeWrapper2"
        ;
        max-width: 60rem;
    }
    @include media("large") {

    }
}

.pokedex-wrapper__one,
.pokedex-wrapper__two {
    background-color: $pokedex-red;
    border: 1px solid $poke-black;
    border-radius: $border-default;
    padding: 1rem;
    @include media("medium") {
    }
}

.pokedex-wrapper__one {
    grid-area: pokeWrapper1;
    display: grid;
    grid-template: auto 1fr auto / 1fr;
    grid-template-areas:
        "pokeAlerts"
        "pokeInset"
        "pokeInset"
    ;
}
.poke-inset {
  grid-area: pokeInset;
  display: grid;
  grid-template: 1fr auto / 1fr;
  grid-template-areas:
  "pokeViewer"
  "pokeControls"
  ;
  @include media("medium") {
    margin: 1rem 0;
    padding: .5rem;
    border-radius: $border-default;
    box-shadow: inset 3px 7px 25px -5px $poke-black;
  }
}
.pokedex-alerts {
    grid-area: pokeAlerts;
    display: grid;
    grid-gap: 0 1rem;
    grid-template-areas:
        "alert warn caution safe ."
    ;
    align-items: start;
    justify-content: start;
    &--alert {
        grid-area: alert;
        border-radius: $border-round;
        border: .25rem solid $poke-grey;
        background-color: $poke-blue;
        height: 4rem;
        width: 4rem;
        @extend %button-shadow-poke-blue;
        &.flashing {
          animation: flash 1s linear infinite;
          @keyframes flash {
            0% {
              background-color: darken($poke-blue, 5%);
            }
            // 25% {
            //   background-color: darken($poke-blue, 10%);
            // }
            50% {
              background-color: darken($poke-blue, 20%);
            }
            // 75% {
            //   background-color: darken($poke-blue, 10%);
            // }
            100% {
              background-color: darken($poke-blue, 5%);
            }
          }
        }
    }
    &--warn {
        grid-area: warn;
        @extend %alert-styles;
        background-color: $poke-red;
        @extend %button-shadow-pokedex-red;
    }
    &--caution {
        grid-area: caution;
        @extend %alert-styles;
        background-color: $poke-yellow;
        @extend %button-shadow-poke-orange;
    }
    &--safe {
        grid-area: safe;
        @extend %alert-styles;
        background-color: $poke-green;
        @extend %button-shadow-poke-green;
    }
}

.poke-viewer {
    grid-area: pokeViewer;
    display: grid;
    grid-template: auto 2fr auto / repeat(2, auto);
    grid-template-areas:
        "pokeVdots pokeVdots"
        "pokeImage pokeImage"
        "pokeSpeak pokeVent"
    ;
    border-radius: $border-default;
    border-color: transparent;
	  background: linear-gradient(45deg,  transparent 20px, $poke-grey 0) bottom left;
	  background-repeat: no-repeat;
    padding: 1rem 2rem;
    margin: 1rem 0;
    @extend %button-shadow-poke-grey;
    &__item--dots {
        grid-area: pokeVdots;
        place-self: center;
        font-size: 2rem;
    }
    &__item--poke-image-container {
        grid-area: pokeImage;
        border-radius: $border-default;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        padding: 2rem;
        @extend %screen-shadow-poke-grey;
    }
    // &__item--poke-instructions {
    //
    // }
    &__item--poke-image {
        // height: auto;
        // width: auto;
        width: auto;
        height: 10rem;
    }
    &__item--poke-speak {
        grid-area: pokeSpeak;
        place-self: center;
        background-color: $pokedex-red;
        height: 2rem;
        width: 2rem;
        border-radius: $border-round;
        @extend %button-shadow-poke-red;
    }
    &__item--poke-vent {
        grid-area: pokeVent;
        place-self: center;
        font-size: 3rem;
    }
}

.poke-controls {
    gird-area: pokeControls;
    display: grid;
    grid-gap: .5rem 1rem;
    grid-template: auto 1fr auto / 1fr;
    grid-template-areas:
        "pokeEnter pokeStartSelect pokeStartSelect"
        "pokeDots2 pokeDescShort pokeDirectionals"
        ". . pokeDots3"
    ;
    padding: 0 1rem;
    align-items: center;
    &__item {
        &--enter {
            grid-area: pokeEnter;
            height: 2.5rem;
            width: 2.5rem;
            background-color: $poke-black;
            border: 1px solid $poke-black;
            border-radius: $border-round;
            @extend %button-shadow-poke-black;
        }
        &--start-select-container {
            grid-area: pokeStartSelect;
        }
        &--start,
        &--select {
            height: 1rem;
            width: 4rem;
            background-color: $poke-grey;
            border-radius: $border-default;
            @extend %button-shadow-poke-grey;
        }
        &--dots {
            grid-area: pokeDots2;
            font-size: 2rem;
            color: $poke-black;
        }
        &--dots:last-of-type {
            grid-area: pokeDots3;

        }
        &--description-short {
            grid-area: pokeDescShort;
            color: $white;
            text-align: center;
            padding: 1.75rem 1rem 0 1rem;
            height: 80%;
            width: 10rem;
            border: 1px solid $poke-black;
            border-radius: $border-default;
            background-color: $poke-green;
            @extend %screen-shadow-poke-green;
        }
        &--directionals {
            grid-area: pokeDirectionals;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            width: 5rem;
            height: 5rem;
        }
        &--directionals button,
        &--directionals .filler {
            border-color: transparent;
            background-color: $poke-black;
            @extend %button-shadow-poke-black;
        }
    }
    @include media("medium") {

    }
}

.filler {
    position: absolute;
    width: 1.45rem;
    height: 1.45rem;
    top: 33.25%;
    left: 40.75%;
}
.right {
    width: 2rem;
    height: 1.5rem;
    position: absolute;
    top: 33%;
    left: 64%;
    border-radius: 0 .5rem .5rem 0;
}
.up {
    width: 1.5rem;
    height: 2rem;
    position: absolute;
    top: 0%;
    left: 40%;
    border-radius: .5rem .5rem 0 0;
}
.down {
    width: 1.5rem;
    height: 2rem;
    position: absolute;
    top: 57%;
    left: 40%;
    border-radius: 0 0 .5rem .5rem;
}
.left {
    width: 2rem;
    height: 1.5rem;
    position: absolute;
    top: 33%;
    right: 59%;
    border-radius: .5rem 0 0 .5rem;
}

.pokedex-hinge {
    grid-area: pokeHinge;
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    background-color: $poke-black;
    height: 1.15rem;
    border: 1px solid $poke-black;
    border-radius: $border-default;
    // max-width: 27rem;
    // margin: 0 auto;
    &__item {
        background-color: $pokedex-red;
        border: 1px solid $poke-black;
        border-radius: $border-default;
    }
    @include media("medium") {
        width: 1.15rem;
        height: auto;
        margin: 6.5rem 0 1.5rem;
        grid-template: repeat(2, auto) / auto;
    }
}

.pokedex-wrapper__two {
    grid-area: pokeWrapper2;
    display: grid;
    grid-gap: 2rem 0;
    grid-template: .75fr 1fr auto / 1fr;
    grid-template-areas:
        "generalInfo"
        "pokeButtons"
        "pokeType"
    ;
    @include media("medium") {
        margin: 6.5rem 0 1.5rem;
    }
}

.poke__general-info {
    grid-area: generalInfo;
    padding: 1rem;
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, auto);
    grid-template-areas:
        "numberName numberName"
        "height weight"
        "description description"
    ;
    justify-items: center;
    border-radius: $border-default;
    background-color: $poke-black;
    @extend %screen-shadow-poke-black;
    color: $white;
    &--number-name {
        grid-area: numberName;
    }
    &--height {
        grid-area: height;
    }
    &--weight {
        grid-area: weight;
    }
    &--poke-description {
        grid-area: description;
    }
}

.poke__buttons {
    grid-area: pokeButtons;
    display: grid;
    grid-gap: 1rem 0;
    grid-template-columns: repeat(3, auto);
    // grid-template: 2fr auto 1fr / repeat(3, auto);
    grid-template-areas:
        "keyboard keyboard keyboard"
        "pokeDots4  . decorativeStartSelect"
        "decorativeAB decorativeAB pokeDecorativeCircle"
    ;
    &--keyboard {
        grid-area: keyboard;
        display: grid;
        grid-gap: 0;
        justify-items: center;
        grid-template: repeat(2, 1fr) / repeat(5, auto);
        grid-template-areas:
            "a b c d e"
            "f g h i j"
        ;
        &-key.a{grid-area: a};
        &-key.b{grid-area: b};
        &-key.c{grid-area: c};
        &-key.d{grid-area: d};
        &-key.e{grid-area: e};
        &-key.f{grid-area: f};
        &-key.g{grid-area: g};
        &-key.h{grid-area: h};
        &-key.i{grid-area: i};
        &-key.j{grid-area: j};

        &-key {
            grid-area: key;
            width: 100%;
            height: 4rem;
            background-color: $poke-blue;
            @extend %button-shadow-poke-grey;
            border: 1px solid $poke-grey;
            border-radius: $border-default;
        }
    }
    &--decorative-start-select {
        grid-area: decorativeStartSelect;
    }

    &--decorative-start,
    &--decorative-select {
        height: 1rem;
        width: 4rem;
        background-color: $poke-grey;
        border-radius: $border-default;
        @extend %button-shadow-poke-grey;
    }

    &--dots {
        grid-area: pokeDots4;
        font-size: 2rem;
    }

    &--decorative-a-b {
        grid-area: decorativeAB;
    }

    &--decorative-a,
    &--decorative-b {
        height: 4rem;
        width: 4rem;
        background-color: $poke-grey;
        @extend %button-shadow-poke-grey;
        border-radius: $border-default;
    }

    &--decorative-circle {
        grid-area: pokeDecorativeCircle;
        place-self: center;
        &-button {
            place-self: right;
            height: 4rem;
            width: 4rem;
            background-color: $poke-yellow;
            border: 1px solid $poke-grey;
            border-radius: $border-round;
            @extend %button-shadow-poke-orange;
        }
    }
}


.poke__type {
    grid-area: pokeType;
    display: flex;
    justify-content: space-between;
    color: $white;
    &-1,
    &-2 {
        background-color: $poke-black;
        border-radius: $border-default;
        padding: 1rem;
        width: 30%;
        height: 1rem;
        text-align: center;
        @extend %screen-shadow-poke-black;
    }
}
